html {
    min-width: 100%;
}

body{
    font-family: sans-serif;
    margin: auto;
    background: #7ed6df;
    min-width:100%;
}

header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 100%;
    height: auto;
    background-color: #30336b;
    margin-bottom: 1%;
}

h1.title{
    font-family: sans-serif;
    margin-top: auto;
    margin-bottom: auto;
    color: #7ed6df;
    font-size: 35px;
    margin-left: 5%;
}


/* Menu de navigation */

nav{
    align-items: flex-end;
    align-self: flex-end;
    height: auto;
    top: 0%;
    margin-right: 5%;
}

nav ul{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

nav ul::after{
    content: "";
    display: block;
    clear: both;
}

nav ul li{
    display: block;
}

nav li{
	list-style-type: none;
}

nav a{
	display: inline-block;
	text-decoration: none;
	margin:3px;
}

nav > ul > li > a{
	padding: 20px 30px;
	color: #7ed6df;
	font-family: sans-serif;
	text-transform: uppercase;
	line-height: 10px;
	font-weight: bold;
}

nav > ul > li:hover > a{
	background-color: #130f40;
	transition: 0.3s;
}



/* Styles concernant l'index et connexion */
.formulaire{
	margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 10%;
    width: 50%;
}

.formulaire-trombi{
    margin-left: 38%;
    margin-top: 10%;
    width: 50%;
}

.form-modif{
	margin-left: 2%;
}

td{
	padding-bottom: 5%;
}

td > input, .uploadFile{
	border: 1px solid #000;
  	border-radius: 4px;
  	padding: 15px;
  	font-size: 25px;
}

td > input, td > select{
	width: 100%;
}

#mdp, #mdp3, #mdp4{
	width: 90%;
}

#mdp2{
	width: 95%;
}

.table-connexion{
	margin-left: 25%;
}

.error, .inscriptionOK{
	padding: 5%;
}

select, .select-api{
	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	outline:0;
	box-shadow:none;
	border:0!important;
	background-image: none;
	flex: 1;
	padding: 0 5px;
    margin-left: 12%;
	color:#7ed6df;
	cursor:pointer;
	font-size: 25px;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	text-align: center;
}

.select-api{
    margin-left: 0;
}

select::-ms-expand{
	display: none;
}

.submit-form, .submit-form-trombi, .submit-form-trombi2{
	cursor:pointer;
	border:none;
	padding:5px;
	border-radius:6px;
	background:#30336b;
	font-size: 20px;
	font-weight: bold;
	color:#7ed6df;
}

.submit-form-trombi2{
    font-size: 16px;
}

.submit-form, .submit-form-trombi{
    margin-top: 3%;
    width:25%;
    margin-left: 30%;
}
.submit-form-trombi{
    margin-left: 10%;
}

.submit-form:hover, .submit-form-trombi:hover,.submit-form-trombi2:hover, .a-menunav:hover, .input-api:hover{
    color: #7ea5df;
}


.underline{
	display : inline;
	text-decoration: underline;
}

.bold{
	display : inline;
	font-weight: bold;
}

.a-menunav{
    text-decoration: none;
    color: #7ed6df;
}

img{
    height: 150px;
    cursor: pointer;
}

.h2-api{
    text-align: center;
}

.menu-api{
    margin-left: 27%;
    display: flex;
}

.input-api{
    background-color: #30336b;
    border: none;
    color: #7ed6df;
    padding: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 25px;
    margin-top: 2px;
    margin-bottom: 34px;
}

.div-api{
    text-align: center;
    font-weight: bold;
    width: 11%;
}

p{
    text-align: center;
    word-break: break-all;
    width: 100%;
}

.container-api{
    margin: 1%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.profil-info{
    font-size: 12px;
}
/*
footer {
	margin-top: auto;
	text-align: center;
	color: #dcdde1;
	background-color: #273c75;
	border-radius: 5px;
	width: 95%;
	padding: 1%;
	display: block;
	margin-left: 2%;
}*/