html {
    min-width: 100%;
}

body{
    font-family: sans-serif;
    margin: auto;
    background: #7ed6df;
    min-width:100%;
}

header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 100%;
    height: auto;
    background-color: #30336b;
    margin-bottom: 1%;
}

h1.title{
    font-family: sans-serif;
    margin-top: auto;
    margin-bottom: auto;
    color: #7ed6df;
    font-size: 35px;
    margin-left: 5%;
}


/* Menu de navigation */

nav{
    align-items: flex-end;
    align-self: flex-end;
    height: auto;
    top: 0%;
    margin-right: 5%;
}

nav ul{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

nav ul::after{
    content: "";
    display: block;
    clear: both;
}

nav ul li{
    display: block;
}

nav li{
	list-style-type: none;
}

nav a{
	display: inline-block;
	text-decoration: none;
	margin:3px;
}

nav > ul > li > a{
	padding: 20px 30px;
	color: #7ed6df;
	font-family: sans-serif;
	text-transform: uppercase;
	line-height: 10px;
	font-weight: bold;
}

nav > ul > li:hover > a{
	background-color: #130f40;
	transition: 0.3s;
}

.formulaire{
	margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 10%;
    width: 50%;
}

td{
	padding-bottom: 5%;
}

td > input{
	border: 1px solid #000;
  	border-radius: 4px;
  	padding: 15px;
  	width: 100%;
  	font-size: 25px;
}

#mdp{
	width: 90%;
}

#mdp2{
	width: 95%;
}

.table-connexion{
	margin-left: 25%;
}

.error, .inscriptionOK{
	padding: 5%;
}

.img-profil{
	width: 150px;
	height: 150px;
	position: absolute;
    -webkit-box-shadow: 0 1px 0 2px rgba(0,0,0,.3);
    box-shadow: 0 1px 0 2px rgba(0,0,0,.3);
    background-color: #02353c;
    border: 2px solid #267b91;
    border-radius: 50%;
    width: 88px;
    z-index: 11;
    height: 88px;
    background-position: center 1px;
}

select{
	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	appearance:none;
	outline:0;
	box-shadow:none;
	border:0!important;
	background-image: none;
	flex: 1;
	padding: 0 5px;
	margin-left: 12%;
	color:#7ed6df;
	cursor:pointer;
	font-size: 25px;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	text-align: center;
}

select::-ms-expand{
	display: none;
}

.submit-form{
	margin-top: 3%;
	margin-left: 30%;
	width:25%;
	cursor:pointer;
	border:none;
	padding:5px;
	border-radius:6px;
	background:#30336b;
	font-size: 20px;
	font-weight: bold;
	color:#7ed6df;
}

.row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 50px;
    /*margin-left: -5px;*/
}

.box{
    overflow: hidden;
    word-wrap: break-word;
    margin-bottom: 15px;
    border-radius: 3px;
}

.profil_framed{
    border-radius: 6px;
    padding: 5px 1px 5px 57px;
    width: auto;
    position: relative;
    border: dashed 1px #181818;
    margin: 13px 1px 5px 51px;
}

.profil_name {
    font-size: 25px;
    color: #30336b;
    text-shadow: 0 1px 2px #000;
    padding-left: 49px;
    padding: 0;
    margin: 0;
}
/*
footer {
	margin-top: auto;
	text-align: center;
	color: #dcdde1;
	background-color: #273c75;
	border-radius: 5px;
	width: 95%;
	padding: 1%;
	display: block;
	margin-left: 2%;
}*/