html {
    min-width: 100%;
}

body{
    font-family: sans-serif;
    margin: auto;
    background: #7ed6df;
    min-width:100%;
}

header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 100%;
    height: auto;
    background-color: #30336b;
    margin-bottom: 1%;
}

h1.title{
    font-family: sans-serif;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 35px;
    margin-left: 5%;
}

/* Menu de navigation */

nav{
    align-items: flex-end;
    align-self: flex-end;
    height: auto;
    top: 0%;
    margin-right: 5%;
}

nav ul{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

nav ul::after{
    content: "";
    display: block;
    clear: both;
}

nav ul li{
    display: block;
}

nav li{
	list-style-type: none;
}

nav a{
	display: inline-block;
	text-decoration: none;
	margin:3px;
}

nav > ul > li > a{
	padding: 20px 30px;
	color: #7ed6df;
	font-family: sans-serif;
	text-transform: uppercase;
	line-height: 10px;
	font-weight: bold;
}

nav > ul > li:hover > a{
	background-color: #130f40;
	transition: 0.3s;
}



/* Styles concernant l'index et connexion */
.formulaire{
	margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 10%;
    width: 50%;
}

.form-modif{
	margin-left: 2%;
}

td{
	padding-bottom: 15px;
    padding-right: 30px;
}


td > input, .uploadFile{
	border: 1px solid #000;
  	border-radius: 4px;
  	padding: 15px;
  	font-size: 25px;
}

.uploadFile{
  	width: 31%;
}

#mdp, #mdp3, #mdp4{
	width: 90%;
}

#mdp2{
	width: 95%;
}

.table-connexion{
	margin-left: 25%;
}

.error, .inscriptionOK{
	padding: 5%;
}

select{
	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	appearance:none;
	outline:0;
	box-shadow:none;
	border:0!important;
	background-image: none;
	flex: 1;
	padding: 0 5px;
	margin-left: 12%;
	color:#7ed6df;
	cursor:pointer;
	font-size: 25px;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	text-align: center;
}

select::-ms-expand{
	display: none;
}

.submit-form{
	margin-top: 3%;
	margin-left: 30%;
	width:25%;
	cursor:pointer;
	border:none;
	padding:5px;
	border-radius:6px;
	background:#30336b;
	font-size: 19px;
	font-weight: bold;
	color:#7ed6df;
}

.submit-form:hover{
    color: #7ea5df;
}

/* Styles concernant la page de profil */
.img-profil{
	width: 150px;
	height: 150px;
	position: absolute;
    -webkit-box-shadow: 0 1px 0 2px rgba(0,0,0,.3);
    box-shadow: 0 1px 0 2px rgba(0,0,0,.3);
    background-color: #02353c;
    border: 2px solid #267b91;
    border-radius: 50%;
    z-index: 11;
    background-position: center 1px;
}

.row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: 30%;
}

.box{
    overflow: hidden;
    word-wrap: break-word;
    margin-bottom: 15px;
}

.profil_framed{
    border-radius: 6px;
    padding: 5px 1px 5px 57px;
    width: auto;
    position: relative;
    border: dashed 1.2px #181818;
    margin: 13px 1px 5px 100px;
}

.profil_name {
    font-size: 30px;
    color: #30336b;
    text-shadow: 0 1px 2px #000;
    padding-left: 49px;
    padding: 0;
    margin: 0;
}

.profil_about {
    display: block;
    padding: 1px;
    margin-left: 55%;
}

.col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.3333333333%;
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
}

.btn {
    display: inline-block;
    width: 100%;
    padding: 5px 7px;
    border-radius: 2px;
    font-size: 1.4em;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0,0,0,.3);
    color: #fff;
    -webkit-box-shadow: 2px 2px 0 0 rgba(0,0,0,.3);
    box-shadow: 2px 2px 0 0 rgba(0,0,0,.3);
    cursor: pointer;
    margin-bottom: 5px;
    background-color: #0f7dbc;
    border: solid 2px #2a9cde;
    -webkit-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
}

.btn:hover {
    background-color: #128ed5;
}

#center{
    display: -webkit-box;
    display: -ms-flexbox;
    display: block;
    margin-left: 30%;
}

.underline{
	display : inline;
	text-decoration: underline;
}

.bold{
	display : inline;
	font-weight: bold;
}

.container{
    width:100%;
}
    
.container-left, .container-right{
    display: inline-block;
    vertical-align: top;
}
.container-left{
    float:left;
    margin: 3%;
    margin-left: 10%;
    width: 45%;
    background: #ced6e0;
    border: solid 1px #1e272e;
    border-radius: 10px;
}

.container-right{
    overflow: auto;
    margin: 3%;
}

h2, h3, h4{
    color: #1e272e;
}
.h2-doc{
    margin-left: 6%;
}

.filiere, .groupe, .parametres, .image {
    margin-left: 8%;
}
    
.h4-doc{
    margin-bottom: 1%;
}

.lead {
    font-size: 21px;
    font-weight: 500;
    margin-left: 8%;
}

.information{
    background-color: #dfe4ea;
    margin-left: 6%;
    margin-right: 4%;
    padding: 10px 25px 10px 10px;
    border-left: 5px solid #e96e50;
    color: #505050;
}

code {
    color: #c7254e;
    background-color: #dfe4ea;
    border-radius: 4px;
    font-size: 15px;
}

.ul1, .ul2, .ul3{
    flex-direction: column;
    margin-bottom: -10px;
}
.ul1 {
    list-style-type: disc;
}

.ul2 {
    list-style-type: circle;
    margin-left: 5%;
}

.ul3 {
    list-style-type: square;
    margin-left: 10%;
    
}

a{
    color: #ff6348;
    font-weight: bold;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    word-break: break-all;
    word-wrap: break-word;
    color: #333;
    background-color: #dfe4ea;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 4%;
}

.input-api{
    width: 80%;
}

.a-menunav{
    text-decoration: none;
    color: #7ed6df;
}

.a-menunav:hover{
    color: #7ea5df;
}